
body {
	padding-top: 70px;
}

.jumbotron {
	/* padding-top: 200px; */
	padding-right: 150px;
	padding-left: 150px;
	color: #2c3e50;
	background: #ecf0f1;

}

.navbar-inverse {
	background: #2c3e50;

}
.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar-inverse .navbar-brand {
	color: white;
}
/* .im{
	height: 15%;
	align:right:
} */
@media screen and (min-width: 0px) and (max-width: 360px)
{
	.im{
		height: 5%;
		align:right:
	}.jumbotron .h1, .jumbotron h1 {
		font-size: 27px;
	}
	.jumbotron p {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 200;
    padding-top: 15px;
}
}
@media screen and (min-width: 361px) and (max-width: 644px)
{
	.im{
		height: 10%;
		width: 100px;

	}
	/* .pra{
		font-size: 5%;
	} */
	.jumbotron p {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 200;
    padding-top: 25px;
}.h1, h1 {
    font-size: 30px;
}
}
@media screen and (min-width: 644px)

{
	.im{
/* 		//an update for width image */
		height:10%;
  		  width: 100px;
		display:inline;
	}
	.jumbotron .h1, .jumbotron h1 {
		font-size: 50px;
	}
	.pra{
		font-size: 5%;
	}
	.jumbotron p {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 200;
    padding-top: 15px;
}
}
